<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountLoginServlet</servlet-name>
        <servlet-class>servlets.AccountLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountCreateServlet</servlet-name>
        <servlet-class>servlets.AccountCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBattleServlet</servlet-name>
        <servlet-class>servlets.LoadBattleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CharacterCreateServlet</servlet-name>
        <servlet-class>servlets.CharacterCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessTurnServlet</servlet-name>
        <servlet-class>servlets.ProcessTurnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChampionServlet</servlet-name>
        <servlet-class>servlets.UpdateChampionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotAuthenticatedReturnToMainServlet</servlet-name>
        <servlet-class>servlets.NotAuthenticatedReturnToMainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountLoginServlet</servlet-name>
        <url-pattern>/AccountLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountCreateServlet</servlet-name>
        <url-pattern>/AccountCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBattleServlet</servlet-name>
        <url-pattern>/LoadBattle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CharacterCreateServlet</servlet-name>
        <url-pattern>/CharacterCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessTurnServlet</servlet-name>
        <url-pattern>/ProcessTurn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChampionServlet</servlet-name>
        <url-pattern>/UpdateChampion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotAuthenticatedReturnToMainServlet</servlet-name>
        <url-pattern>/NotAuthenticatedReturnToMain</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>account_login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
